In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas import read_csv
from pathlib import Path

In [2]:
cwd = Path.cwd().parent

In [3]:
data_folder = cwd / Path('data/')
n3 = 'Tornados.csv'
tornados = data_folder / Path(n3)
assert tornados.exists()

In [4]:
data_t = read_csv(tornados)

In [5]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

states_data = {'StateID':[], 'StatePostalCode':[] ,'StateName':[]}
cnt = 1
for i,j in states.items():
    states_data['StateID'].append(cnt)
    states_data['StatePostalCode'].append(i)
    states_data['StateName'].append(j)
    cnt += 1

st_df = pd.DataFrame.from_dict(states_data)

In [6]:
data_t = pd.merge(data_t, st_df[['StateID', 'StatePostalCode']], on='StatePostalCode', how='inner').drop(['StatePostalCode'], axis = 1)

In [7]:
data_t

       Year  Month  Day  Magnitude  Latitude  Longitude  StateID
0      1950      1    3          3   38.7700   -90.2200       27
1      1950      1   25          2   37.6000   -90.6800       27
2      1950      6    9          1   38.0000   -92.2200       27
3      1950      6   15          1   39.7000   -92.0700       27
4      1950      7   19          1   38.4200   -92.7700       27
5      1950      8    8          1   37.1300   -93.3800       27
6      1951      5   25          1   40.4000   -95.1700       27
7      1951      6    8          1   37.9300   -91.8800       27
8      1951      7    4          2   37.1500   -94.4700       27
9      1951      7    8          2   39.2200   -94.0200       27
10     1951      7    9          1   36.5500   -91.7000       27
11     1951     11   13          3   36.6200   -89.7500       27
12     1952      2   13          2   36.0700   -89.9300       27
13     1952      3   18          2   37.7500   -90.5000       27
14     1952      3   18          2   37.3700   -89.7800       27
15     1952      3   21          4   36.0500   -89.8200       27
16     1952      5    7          1   40.1000   -94.5300       27
17     1952      5   22          2   38.9000   -94.2700       27
18     1952      7   17          1   38.9700   -91.5000       27
19     1952      8   21          2   38.6800   -93.2700       27
20     1952     11   16          3   40.4500   -95.0700       27
21     1953      3   14          1   39.2200   -90.7500       27
22     1953      3   31          1   38.3700   -94.2800       27
23     1953      3   31          1   38.4700   -94.0000       27
24     1953      5   10          1   37.5500   -91.9200       27
25     1953      8    1          1   38.4200   -91.0800       27
26     1953      8    3          0   38.2200   -94.1200       27
27     1954      3   24          1   36.5500   -93.9700       27
28     1954      3   24          1   37.4500   -94.4000       27
29     1954      3   24          1   37.1200   -94.5300       27
...     ...    ...  ...        ...       ...        ...      ...
63130  2006      6    9          0   39.6000  -116.0200       38
63131  2009      6   20          0   41.5831  -115.8450       38
63132  2009      6   20          0   41.7134  -115.8000       38
63133  2011      4   24          0   40.8700  -117.8500       38
63134  2012      4   13          0   40.7086  -116.0750       38
63135  2012      7   24          0   37.6200  -114.1600       38
63136  2014      5   21          0   40.8515  -115.7410       38
63137  2014      5   21          0   40.8362  -115.7830       38
63138  2014      5   21          0   40.2100  -116.9300       38
63139  2014      7   31          0   40.9837  -116.3830       38
63140  2014      8    4          0   35.8300  -114.8700       38
63141  2014      9   20          0   39.0700  -116.5100       38
63142  2015      6    5          1   38.5276  -118.6000       38
63143  2017      9   13          0   39.1785  -119.9606       38
63144  2017      9   21          0   39.0400  -119.9700       38
63145  2018      5   11          0   40.8400  -117.3400       38
63146  2018      5   11          0   41.1500  -117.5200       38
63147  2018      5   22          0   41.7300  -115.9200       38
63148  1972      9   14          0   41.4800   -71.3800       45
63149  1986      8    7          1   41.9200   -71.4300       45
63150  1986      8    7          2   41.7700   -71.4500       45
63151  1986      8    8          1   41.9800   -71.7300       45
63152  1989      9   23          0   41.7700   -71.4500       45
63153  1990     10   18          1   41.7000   -71.4500       45
63154  1994      8   13          0   41.6800   -71.5700       45
63155  2000      8   16          0   41.8500   -71.7700       45
63156  2008      7   23          1   41.7100   -71.2900       45
63157  2012      8   10          0   41.1494   -71.5700       45
63158  1995      5   18          0   38.8800   -77.0500        9
63159  2017      4    6          0   38.8313   -77.0243        9

[63160 rows x 7 columns]